name: Pull Request Validation

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        python-version: ["3.12", "3.13"]
        runner: [ubuntu-latest, macos-latest, windows-latest]
    uses: ./.github/workflows/build.yml
    permissions:
      contents: read
    with:
      python-version: ${{ matrix.python-version }}
      runner: ${{ matrix.runner }}
